{% extends 'base.html' %}

{% block title %}
  Tasks List
{% endblock %}

{% block content %}
  
  
  <form id="createTaskForm" class="form-inline justify-content-center" data-url="{% url 'task_list_url' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="mx-3">
        {{ field }}
      </div>
    {% endfor %}
    <button type="button" id="createTaskBtn" class="btn btn-primary btn-lg fas fa-plus-square"></button>
  </form>
  

  <div id="taskList" class="mt-5">
    {% for task in tasks  %}
      <div class="card mb-1" data-id="{{ task.id }}">
        <div class="card-body">
          <button type="button" class="completeTaskBtn btn btn-sm {% if task.completed %} btn-success far fa-check-square{% else %} btn-outline-secondary fa fa-square-o{% endif %}" data-id="{{ task.id }}"></button>
          <span class="ml-1">{{ task.title }}</span>
          <button type="button" class="deleteTaskBtn btn btn-outline-danger btn-sm float-right fas fa-trash-alt" data-id="{{ task.id }}"></button>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
